.profile__info {
  max-width: calc(100% - (24px * 2));
  align-self: center;
  display: grid;
  grid-template: 2fr 1fr / minmax(150px, -webkit-max-content) calc(24px * 2);
  grid-template: 2fr 1fr / minmax(150px, max-content) calc(24px * 2);
}