.button {
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0px;
  transition: opacity 100ms ease-out 0ms;
}

.button:hover {
  opacity: .5;
}