.page {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}