.form__item {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  font-size: 14px;
  line-height: 1.2;
  font-family: inherit;
  transition: border-bottom 250ms ease-in;
}
  
.form__item::-webkit-input-placeholder {
  opacity: .5;
}

.form__item::-moz-placeholder {
  opacity: .5;
}

.form__item:-ms-input-placeholder {
  opacity: .5;
}

.form__item::-ms-input-placeholder {
  opacity: .5;
}

.form__item::placeholder {
  opacity: .5;
}

.form__item:focus {
  outline-color: #77adf3;
}