.profile {
  padding-top: 40px;
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: 120px minmax(300px, 100%) 150px;
  gap: 31px;
}

@media screen and (max-width:879px) {
  .profile {
    justify-items: center;
    grid-template: 120px 1fr  1fr / 100%;
  }
}