.card__place-name {
  width: 80%;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}