.popup__container {
  max-width: 430px;
  min-width: calc(320px - 10%);
  width: 90%;
  padding: 25px 0;
  background-color: white;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}