.profile__about-me {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  .profile__about-me {
    text-align: center;
    line-height: 1.5;
    grid-column: span 2;
  }
}